//COLORS
$color-primary: #33e06c;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-yellow: #ecd400;
$color-brown-light: #E06C07;

$color-white: #ffffff;
$color-black: #000;
$color-grey-dark: #777777;
$color-grey-light: rgba(172, 172, 172, 0.8);

$color-grey-light-1: #f7f7f7;

// GRID
$grid-width: 110rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 7rem;

$default-font-size: 1.6rem;
$bigger-font-size: 1.9rem;
