.header{
  height: 98vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-yellow, 0.2),
      rgba($color-brown-light, 0.2)),
  url(../img/hotelentrance-min.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    height: 140px;
  }

}

.arrow span{
  position: absolute;
  top: 45vh;
  width: 30px;
  height: 30px;
  margin-left: -12px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: jump 2s infinite;
  animation: jump 2s infinite;
}
