@media only screen and (min-width: 768px) {
  .heading-primary-main {
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 20px;
    font-weight: 400;
  }
  .heading-primary-sub {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .heading-primary-main {
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 13px;
    font-weight: 800;
  }
  .heading-primary-sub {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 5px;
    padding-top: 10px;
  }
}
