@media only screen and (min-width: 768px) {
  .heading-primary {
    &--main {
      font-size: 7rem;
      line-height: 8rem;
      letter-spacing: 2rem;
      font-weight: 400;
    }

    &--sub {
      font-size: 2rem;
      line-height: 3rem;
      letter-spacing: 2rem;
      font-weight: 400;
    }
  }
}

@media only screen and (max-width: 768px) {
  .heading-primary {
    &--main {
      font-size: 4rem;
      line-height: 4rem;
      letter-spacing: 1.3rem;
      font-weight: 800;
    }

    &--sub {
      font-size: 1.3rem;
      line-height: 1.25rem;
      letter-spacing: 0.7rem;
    }
  }

  .row .col-1-of-2 {
    width: 100%;
  }

}
